a.stop {
    color: black;
}

a.stop.reed {
    color: red;
}

.stop-examples {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stop-examples li {
    margin-bottom: .45em;
}

.altcols h2:first-child {
    margin-top: 0;
}

.homepage {
    background: url(/static/home_2.jpg) center no-repeat fixed;
    background-size: cover;
    text-shadow: 2px 2px 3px black;
    color: white !important;
}

.homepage .navbar {
    background: none;
    border: none;
}

.homepage .navbar a {
    color: white !important;
    text-shadow: 1px 1px 2px black;
}

.homepage .navbar li:hover, .homepage .navbar li.dropdown.open {
    background: rgba(255, 255, 255, 0.3);
}

.homepage .jumbotron {
    border: none;
    background: none;
    box-shadow: none;
}

.homepage h2 {
    color: white;
}

.homepage .btn {
    text-shadow: none;
}

.homelist a {
    font-size: 1.3em;
    color: white;
}

.side-list h2:first-child {
    padding-top: .2em;
}

.homepage .collapse.in, .homepage .collapsing {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px white solid;
}

.homepage .dropdown-menu {
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.4);
}

.embed-responsive-map {
    padding-bottom: 133%;
}

.enc-cols {
    margin-top: 1.5em;
}

@media only screen and (min-width : 320px) {
    .enc-cols { column-count: 2; }
}

@media only screen and (min-width : 768px) {
    .enc-cols { column-count: 3; }
}

@media only screen and (min-width : 1200px) {
    .enc-cols { column-count: 4; }
}


.enc-cols h3 {
    margin: 0 0 0.5em;
}

.stop-group {
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
}

.alist {
    margin: 0;
    padding: 0 0 1.5em 1.5em;
}

.instrument-cell {
    font-size: 1.1em;
    font-weight: bold;
}