a.stop {
    color: black;
}

a.stop.reed {
    color: red;
}

.stop-examples {
    list-style: none;
    margin: 0;
    padding: 0;
}

.stop-examples li {
    margin-bottom: .45em;
}

.altcols h2:first-child {
    margin-top: 0;
}

.side-list h2:first-child {
    padding-top: .2em;
}

.embed-responsive-map {
    padding-bottom: 133%;
}

.enc-cols {
    margin-top: 1.5em;
}

@media only screen and (min-width : 320px) {
    .enc-cols { column-count: 2; }
}

@media only screen and (min-width : 768px) {
    .enc-cols { column-count: 3; }
}

@media only screen and (min-width : 1200px) {
    .enc-cols { column-count: 4; }
}

.enc-cols h3 {
    margin: 0 0 0.5em;
}

.letter-group {
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;
}

.alist {
    margin: 0;
    padding: 0 0 1.5em 1.5em;
}

.instrument-cell {
    font-size: 1.1em;
    font-weight: bold;
}

.instrument-list th a {
    text-decoration: none;
    color: black;
}

.homepage .jumbotron {
    background: url(/static/home.jpg) center;
    background-size: cover;
    padding-top: 420px;
    padding-bottom: 60px;
    color: white;
    text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
    box-shadow: 1px 1px 3px black;
    border-width: 0;
}

.instrument-photo {
    overflow: hidden;
    position: relative;
    margin: 0 0 1em;
}

.caption {
    position: absolute;
    opacity: 0;
    background-color: rgba(0,0,0,0.75);
    color: white;
    bottom: -3em;
    padding: .5em 0;
    text-align: center;
    font-size: 1.1em;
    width: 100%;

    -webkit-transition:all 0.15s ease-in-out;
	-moz-transition:all 0.15s ease-in-out;
	-o-transition:all 0.15s ease-in-out;
	-ms-transition:all 0.15s ease-in-out;
	transition:all 0.15s ease-in-out;
}

.instrument-photo img {
    width: 100%;
}

.instrument-photo:hover .caption {
    bottom: 0;
    opacity: 1;
}