{% load l10n %}
{% include "header.html" %}

<title>{{ concert.name }}, {{ concert.date }} &ndash; Koncert &ndash; Polskie organy piszczałkowe</title>

{% include "navigation.html" %}

<h1>{{ concert.name }}</h1>

<div class="row">
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>Miejsce</dt>
            <dd>{{ concert.instrument.location.name }}</dd>

            <dt>Adres</dt>
            <dd>{{ concert.instrument.location.address }}</dd>

            <dt>Miejscowość</dt>
            <dd>{{ concert.instrument.location.city.name }}, woj. {{ concert.instrument.location.city.region.name }}</dd>

            <dt>Data</dt>
            <dd>{{ concert.date }}</dd>
        </dl>

        {{ description|safe }}

        <h2>Wykonawcy</h2>

        {% for performer in concert.performers.all %}
            {% if forloop.first %}<ul class="performers">{% endif %}
            <li><a href="{% url 'view-performer' performer.pk %}">{% if performer.first_name %}{{ performer.first_name }} {% endif %}{{ performer.name }}</a></li>
            {% if forloop.last %}</ul>{% endif %}
        {% empty %}
            <p>Brak informacji o wykonawcach podczas tego koncertu.</p>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div class="embed-responsive embed-responsive-map">
        <iframe
            class="embed-responsive-item"
            src="https://www.google.com/maps/embed/v1/place?q={% if concert.instrument.location.latitude and concert.instrument.location.longitude %}{{ concert.instrument.location.latitude|unlocalize }}%2C{{ concert.instrument.location.longitude|unlocalize }}{% else %}{{ concert.instrument.location.address }}{% endif %}&key=AIzaSyAnSf2yTNcRkacRQkFYYpG32DqrmT9g1Kg"
            allowfullscreen></iframe>
        </div>

        <h2>Instrument</h2>
        <dl class="dl-horizontal">
            <dt>Liczba głosów</dt>
            <dd>5</dd>
            <dt>Klawiatury</dt>
            <dd>2+P</dd>
            <dt>&nbsp;</dt>
            <dd><a href="{% url 'view-instrument' concert.instrument.pk %}">Zobacz pełny opis</a></dd>
        </dl>
    </div>
</div>

{% include "footer.html" %}
