{% include "header.html" %}

<title>{{ family.name }} &ndash; Polskie organy piszczałkowe</title>

{% include "navigation.html" %}

<div class="row">

    <div class="col-md-3 side-list">
        <h2>Rodziny głosów</h2>

        <ul class="families-side-list">
            <li><a href=""></a></li>
            {% for afamily in families %}<li>{% if afamily.pk == family.pk %}<strong>{{ afamily.name }}</strong>{% else %}<a href="{{ afamily.pk }}">{{ afamily.name }}</a>{% endif %}</li>{% endfor %}
        </ul>
    </div>

    <div class="col-md-9">
        <h1>{{ family.name }}</h1>

        {{ description|safe }}

        {% if stops %}
        <div class="enc-cols">
            {% for group, stops in stops %}
            <div class="stop-group">
            <h3>{{ group }}</h3>
            <ul class="alist">
                {% for stop in stops %}
                    <li><a href="{% url 'view-stop-type' stop.pk %}">{{ stop.name }}</a></li>
                {% endfor %}
            </ul>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <ul>
            {% for stop in family.stoptype_set.all %}<li><a href="{% url 'view-stop-type' stop.pk %}">{{ stop.name }}</a></li>{% endfor %}
        </ul>
        {% endif %}

    </div>
</div>

{% include "footer.html" %}
