<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <title>Title</title>

</head>

<body>

    <nav class="navbar navbar-fixed-top">
    	<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Polskie organy piszczałkowe</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <h1>Witamy</h1>
        <p>(powitanie)</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Szukaj &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Ostatnio zmieniane</h2>
          <p>Tu pojawią się ostatnio zaktualizowane instrumenty</p>
          <p><a class="btn btn-default" href="#" role="button">Zobacz więcej &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Najbliższe koncerty</h2>
          <p>Koncerty muzyki organowej</p>
          <p><a class="btn btn-default" href="#" role="button">Zobacz więcej &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Encyklopedia głosów</h2>
          <p>Kilka przypadkowo wybranych głosów organowych</p>
          <p><a class="btn btn-default" href="#" role="button">Zobacz więcej &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016</p>
      </footer>
    </div> <!-- /container -->

    <script 
    	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    	crossorigin="anonymous">
    </script>

</body>

</html>