<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <title>Title</title>

</head>

<body>

    {% include "navigation.html" %}

    <div class="jumbotron">
      <div class="container">
        <h1>Witamy</h1>
        <p>(powitanie)</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Szukaj &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Ostatnio zmieniane</h2>
          <p>Tu pojawią się ostatnio zaktualizowane instrumenty</p>
          <p><a class="btn btn-default" href="#" role="button">Zobacz więcej &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Najbliższe koncerty</h2>
          <p>Koncerty muzyki organowej</p>
          <p><a class="btn btn-default" href="#" role="button">Zobacz więcej &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Encyklopedia głosów</h2>
          <p>Kilka przypadkowo wybranych głosów organowych</p>
          <p><a class="btn btn-default" href="#" role="button">Zobacz więcej &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016</p>
      </footer>
    </div> <!-- /container -->

    <script 
    	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    	crossorigin="anonymous">
    </script>

</body>

</html>