<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <title>Instrument</title>

</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
    	<div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Polskie organy piszczałkowe</a>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Baza instrumentów</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Kościół św. Stanisława Biskupa <small>Jasło, podkarpackie</small></h1>
          <dl class="dl-horizontal">
            <dt>Adres</dt>
            <dd>Zygmunta Krasińskiego 4, 38-200 Jasło</dd>
            <dt>Liczba głosów</dt>
            <dd>14</dd>
            <dt>Klawiatury</dt>
            <dd>2+P</dd>
            <dt>Traktura gry</dt>
            <dd>elektro-pneumatyczna</dd>
            <dt>Traktura rejestrów</dt>
            <dd>elektro-pneumatyczna</dd>
          </dl>
          <p>Organy w neoromańskim kościele św. Stanisława w Jaśle wybudował Zygmunt Kamiński z Warszawy w roku 1976. Instrument podzielony jest na 2 symetryczne szafy o nowoczesnych prospektach, zdublowane względem centralnego tryforium. Kontuar ustawiony jest pomiędzy szafami przodem do ołtarza.</p>

            <div class="row">
              <div class="col-sm-4">
                <h4>Manuał I</h4>
                <p>
                  6. II-I<br>
                  7. Pryncypał 8'<br>
                  8. Flet rurk. 8'<br>
                  9. Oktawa 4'<br>
                  10. Flet leśny 2'<br>
                  11. Mixtura 4x<br>
                </p>
              </div>
              <div class="col-sm-4">
                <h4>Manuał II</h4>
                <p>
                  12. Flet kryty 8'<br>
                  13. Salicet 8'<br>
                  14. Flet 4'<br>
                  15. Pryncypał 2'<br>
                  16. Kwinta 1 1/3'<br>
                  17. Szarf 4x<br>
                  18. Tremolo<br>
                </p>
              </div>
              <div class="col-sm-4">
                <h4>Pedał</h4>
                <p>
                  1. I-P<br>
                  2. II-P<br>
                  3. Subbas 16'<br>
                  4. Oktawa 8'<br>
                  5. Chorał 4'<br>
                </p>
              </div>
            </div>

            <p>Włączniki ręczne pod manuałem I: R; R; I; II; K; T; C; A<br>
            Urządzenia dodatkowe: automat pedałowy, 2 wolne kombinacje, crescendo, woltomierz.<br>
            Register zbiorowy: Tutti</p>

        </div>
        
        <div class="col-md-4">
          <h2>Fotografie</h2>
          <p><img class="img-responsive" src="/static/1.jpg" alt="1"></p>
          <p><img class="img-responsive" src="/static/2.jpg" alt="2"></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016</p>
      </footer>
    </div> <!-- /container -->

    <script 
    	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
    	crossorigin="anonymous">
    </script>

</body>

</html>