{% load l10n %}
{% include "header.html" %}

<title>{% if instrument.comment %}{{ instrument.comment|capfirst }}, {% endif %}{{ instrument.location.name }}, {{ instrument.location.city.name }} &ndash; Polskie organy piszczałkowe</title>

{% include "navigation.html" %}

<div class="row">
    <div class="col-md-8">

        <h1>
            {% if instrument.comment %}
            {{ instrument.comment|capfirst }}
            <small>
                {{ instrument.location.name }},
            {% else %}
            {{ instrument.location.name }}
            <small>
            {% endif %}
                {{ instrument.location.city.name }},
                {{ instrument.location.city.region.name }}
            </small>

        </h1>

        <dl class="dl-horizontal">
            <dt>Adres</dt>
            <dd>{{ instrument.location.address }}</dd>

            <dt>Liczba głosów</dt>
            <dd>{{ instrument.stops }}</dd>

            <dt>Klawiatury</dt>
            <dd>{{ instrument.keyboards }}{% if instrument.pedalboard %}+P{% endif %}</dd>

            <dt>Traktura gry</dt>
            <dd>{{ instrument.key_action }}</dd>

            <dt>Traktura rejestrów</dt>
            <dd>{{ instrument.stop_action }}</dd>

            {% if instrument.builder %}
            <dt>Budowniczy</dt>
            <dd><a href="{% url 'view-builder' instrument.builder.pk %}">{{ instrument.builder.name }}</a></dd>
            {% endif %}
        </dl>

        {{ description|safe }}

        {% for keyboard in instrument.keyboard_set.all %}
            {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-sm-4">
            <h4>{{ keyboard.name }}</h4>
            <p>
                {% for stop in keyboard.stop_set.all %}
                    {% if keyboard.numbered %}{{ stop.number }}. {% endif %}<a class="stop{% if stop.reed %} reed{% endif %}" href="{% url 'view-stop-type' stop.type.pk %}">{{ stop.name }}</a> {% if stop.length %}{{ stop.length }}'{% endif %}<br>
                {% empty %}
                    Brak głosów.
                {% endfor %}
            </p>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% empty %}
            <p>Brak informacji o dyspozycji instrumentu.</p>
        {% endfor %}

        {{ additional|safe }}

        {% for recording in instrument.recording_set.all %}
            {% if forloop.first %}<h2>Nagrania</h2><ul class="recordings">{% endif %}
                {% include "recording.html" %}
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}

        {% for work in instrument.work_set.all %}
            {% if forloop.first %}<h2>Prace przy instrumencie</h2><ul class="works">{% endif %}
                <li><a href="{% url 'view-work' work.pk %}">{{ work.type|capfirst }}</a>, {{ work.builder.name }}, {{ work.year }}</li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}

        {% for concert in concerts %}
            {% if forloop.first %}<h2>Nadchodzące koncerty</h2><ul class="concerts">{% endif %}
                <li><a href="{% url 'view-concert' concert.pk %}">{{ concert.name }}</a>, {{ concert.date }}</li>
            {% if forloop.last %}</ul>{% endif %}
        {% endfor %}

    </div>

    <div class="col-md-4">
        {% for photo in instrument.photo_set.all %}
            {% if forloop.first %}<h2>Fotografie</h2>{% endif %}
            <p><img class="img-responsive" src="{{ MEDIA_URL }}{{ photo.file.url }}" alt="{{ photo.description }}" title="{{ photo.description }}"></p>
        {% endfor %}

        {% if instrument.comment %}
            <h2>W tym miejscu są też</h2>
            <ul>
            {% for nearby in instrument.location.instrument_set.all %}
                <li><a href="{% url 'view-instrument' nearby.pk %}">{{ nearby.comment|capfirst }}</a>, {{ nearby.stops }} gł., {{ nearby.keyboards }}{% if nearby.pedalboard %}+P{% endif %}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <h2>Lokalizacja</h2>
        <div class="embed-responsive embed-responsive-map">
        <iframe
            class="embed-responsive-item"
            src="https://www.google.com/maps/embed/v1/place?q={% if instrument.location.latitude and instrument.location.longitude %}{{ instrument.location.latitude|unlocalize }}%2C{{ instrument.location.longitude|unlocalize }}{% else %}{{ instrument.location.address }}{% endif %}&key=AIzaSyAnSf2yTNcRkacRQkFYYpG32DqrmT9g1Kg"
            allowfullscreen></iframe>
        </div>
    </div>
</div>

{% include "footer.html" %}
