{% include "header.html" %}

<title>{{ instrument.location.name }}, {{ instrument.location.city.name }} &ndash; Polskie organy piszczałkowe</title>

{% include "navigation.html" %}

<div class="row">
    <div class="col-md-8">

        <h1>
            {% if instrument.comment %}
            {{ instrument.comment|capfirst }}
            <small>
                {{ instrument.location.name }},
            {% else %}
            {{ instrument.location.name }}
            <small>
            {% endif %}
                {{ instrument.location.city.name }},
                {{ instrument.location.city.region.name }}
            </small>

        </h1>

        <dl class="dl-horizontal">
            <dt>Adres</dt>
            <dd>{{ instrument.location.address }}</dd>

            <dt>Liczba głosów</dt>
            <dd>{{ instrument.stops }}</dd>

            <dt>Klawiatury</dt>
            <dd>{{ instrument.keyboards }}{% if instrument.pedalboard %}+P{% endif %}</dd>

            <dt>Traktura gry</dt>
            <dd>{{ instrument.key_action }}</dd>

            <dt>Traktura rejestrów</dt>
            <dd>{{ instrument.stop_action }}</dd>

            {% if instrument.builder %}
            <dt>Budowniczy</dt>
            <dd><a href="{% url 'view-builder' instrument.builder.pk %}">{{ instrument.builder.name }}</a></dd>
            {% endif %}
        </dl>

        <p>{{ instrument.description }}</p>

        {% for keyboard in instrument.keyboard_set.all %}
            {% if forloop.first %}<div class="row">{% endif %}
        <div class="col-sm-4">
            <h4>{{ keyboard.name }}</h4>
            <p>
                {% for stop in keyboard.stop_set.all %}
                    {{ stop.number }}. <a class="stop{% if stop.reed %} reed{% endif %}" href="{% url 'view-stop-type' stop.type.pk %}">{{ stop.name }}</a> {% if stop.length %}{{ stop.length }}'{% endif %}<br>
                {% empty %}
                    Brak głosów.
                {% endfor %}
            </p>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
        {% empty %}
            <p>Brak informacji o dyspozycji instrumentu.</p>
        {% endfor %}

        <p>{{ instrument.additional_features }}</p>

        <h2>Nagrania</h2>

        {% for recording in instrument.recording_set.all %}
            {% if forloop.first %}<ul class="recordings">{% endif %}
                {% include "recording.html" %}
            {% if forloop.last %}</ul>{% endif %}
        {% empty %}
            <p>Brak nagrań tego instrumentu.</p>
        {% endfor %}

        <h2>Prace przy instrumencie</h2>
        {% for work in instrument.work_set.all %}
            {% if forloop.first %}<ul class="works">{% endif %}
                <li>{{ work.type }}</li>
            {% if forloop.last %}</ul>{% endif %}
        {% empty %}
            <p>Brak informacji o pracach prowadzonych przy instrumencie.</p>
        {% endfor %}

        <h2>Nadchodzące koncerty</h2>
        {% for concert in concerts %}
            {% if forloop.first %}<ul class="concerts">{% endif %}
                <li><a href="{% url 'view-concert' concert.pk %}">{{ concert.name }}</a>, {{ concert.date }}</li>
            {% if forloop.last %}</ul>{% endif %}
        {% empty %}
            <p>Brak informacji na temat koncertów na tym instrumencie.</p>
        {% endfor %}

    </div>

    <div class="col-md-4">
        {% for photo in instrument.photo_set.all %}
            {% if forloop.first %}<h2>Fotografie</h2>{% endif %}
            <p><img class="img-responsive" src="{{ MEDIA_URL }}{{ photo.file.url }}" alt="{{ photo.description }}"></p>
        {% endfor %}

        {% if instrument.comment %}
            <h2>W tym miejscu są też</h2>
            <ul>
            {% for nearby in instrument.location.instrument_set.all %}
                <li><a href="{% url 'view-instrument' nearby.pk %}">{{ nearby.comment|capfirst }}</a>, {{ nearby.stops }} gł., {{ nearby.keyboards }}{% if nearby.pedalboard %}+P{% endif %}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <h2>Lokalizacja</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1092.8757068458065!2d17.111243465782252!3d51.10225207889483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1479230037497" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

{% include "footer.html" %}
