{% include "header.html" %}

<title>Wykonawcy &ndash; Polskie organy piszczałkowe</title>

{% include "navigation.html" %}

<h1>Wykonawcy</h1>

<div class="enc-cols">
{% for group, performers in performers %}
    <div class="letter-group">
    <h3>{{ group }}</h3>
    <ul class="alist builders-list">
    {% for performer in performers %}
        <li><a href="{% url 'view-performer' performer.pk %}">{{ performer.name }}{% if performer.first_name %}, {{ performer.first_name }}{% endif %}</a></li>
    {% endfor %}
    </ul>
    </div>
{% endfor %}
</div>

{% include "footer.html" %}
