{% include "header.html" %}

<title>Encyklopedia głosów &ndash; Polskie organy piszczałkowe</title>

{% include "navigation.html" %}

<div class="row">
    <div class="col-md-3 side-list">
        <h2>Rodziny głosów</h2>
        <ul>
            {% for family in families %}<li><a href="{%  url 'view-family' family.pk %}">{{ family.name }}</a></li>{% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
        <h1>Encyklopedia głosów organowych</h1>
        <div class="enc-cols">
        {% for group, stops in stops %}
            <div class="stop-group">
            <h3>{{ group }}</h3>
            <ul class="alist">
                {% for stop in stops %}
                    <li><a href="{% url 'view-stop-type' stop.pk %}">{{ stop.name }}</a></li>
                {% endfor %}
            </ul>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% include "footer.html" %}
